
@keyframes run1 {
  0% {
    transform: translateX(-102%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(102%);
  }
}

@keyframes in_article {
  0% {
    transform: translateY(-10px);
    opacity 0
  }
  100% {
    transform: translateY(0);
    opacity 1
  }
}

#banner
    // &.is_home
    height 50vh !important
    // @media mq-mobile
    img 
        z-index -50
        position absolute
        max-width: 1200px
        margin-top: 86px
        height: auto !important
        transition: transform 0.5s ease-in-out
        filter: brightness(var(--banner-matte))
        // object-fit: fill !important
        // object-position center
        @media mq-mobile
            margin-top: 84px
            max-width: 840px
            width: auto !important
            height: auto !important
            object-fit fill !important
            object-position: center
            // transform: 
            &.anime_1
                animation run1 20s infinite linear
            &.anime_2
                animation run2 20s infinite linear
    
    #banner-dim 
        z-index -100
:root
    #banner
    &[hasBanner="true"] //这个得和banner写一行才生效
        #nav
            height: 200px !important
            z-index: 100
            @media mq-mobile
                height: 160px !important
            @media mq-tablet
                height: 160px !important

:root
    #banner
    &[showBanner="true"]
        &[hasBanner="desktop"] 
            #nav
                height: 200px !important
                z-index: 100
                @media mq-mobile
                    height: 72px !important
                @media mq-tablet
                    height: 72px !important
                

:root
    #banner
        display: flex;
        justify-content: center;
    
.right-panel.with-pic
    &:hover 
        min-width: 38%

        




